<li class="nav-item dropdown">
  <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="pr-2">Profile</span>
    <i class="fas fa-user" *ngIf="isLoggedIn"></i>
    <i class="far fa-user" *ngIf="!isLoggedIn"></i>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownProfile">
    <a class="dropdown-item" href="#">Profil</a>
    <a class="dropdown-item" href="#" (click)="logout()" *ngIf="isLoggedIn"><span class="pr-2">Logout</span><i class="fas fa-sign-out-alt"></i></a>
    <a class="dropdown-item" (click)="login()" *ngIf="!isLoggedIn"><span class="pr-2">Login</span><i class="fas fa-sign-in-alt"></i></a>
  </div>
</li>
