.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.form-card {
  margin: auto;
  min-width: 250px;
  /*max-width: 500px;*/
}

.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  width: 100%;
}

.form-element {
  padding: 5px 5px 10px 5px;
  /*width: 100%;*/
}

.button {
  width: 100%;
}

::ng-deep .mcc-color-picker-selector-preview {
  box-sizing: content-box;
}
