<h1>Techniques</h1>

<form>
  <div class="form-group form-inline">
    Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
    <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class='table table-striped'>
    <thead>
      <tr>
        <!--<th scope="col">#</th>-->
        <!--<th scope="col" sortable="id" (sort)="onSort($event)">ID</th>-->
        <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Weapon</th>
        <th scope="col">Purpose</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let technique of techniques$ | async">
        <!--<td>{{ technique.index }}</td>-->
        <!--<td>{{ technique.id }}</td>-->
        <td><ngb-highlight [result]="technique.name" [term]="service.searchTerm"></ngb-highlight></td>
        <td>{{ technique.level }}</td>
        <td>{{ technique.weapon }}</td>
        <td>{{ technique.purpose }}</td>
        <!--<td><button type="button" class="btn btn-danger" (click)="DeleteTechnique(technique)">Delete</button></td>-->
        <td><i class="far fa-trash" (click)="DeleteTechnique(technique)"></i></td>
      </tr>
    </tbody>
  </table>

  <div>
    <span class="ml-3">Showing {{(techniques$ | async)?.length}} of {{total$ | async}} Techniques.</span>
  </div>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
    </select>
  </div>
</form>

<div>
  <button class="btn btn-lg btn-primary" [routerLink]='["/techniques/create"]'>Add Technique</button>
</div>
